<link rel="stylesheet" href="/css/user_profile.css">
        <h1>
                Codeial / Profile Page 
        </h1>

        <p>Name: <%= user.name %></p>
        <p>Email: <%= user.email %></p>
        <p>Password: <%= user.password %></p>

        <form action="/users/end-session" method="POST">
                <input type="submit" value="logout">
            </form>
       