<div>
    <p>Hi <%= comment.user.name %></p>
    <br>
    <br>
    <p>Your Comment just got published on codeial.</p>
    <br>
    <h3>Comment</h3>
    <p><strong><%= comment.content %></strong></p>
    <br>
    <p>Thanks!</p>
</div>